DateTime		
Pillow
PyDictionary
PyGithub
PyLyrics
PyPDF2
PyProxyToolkit
QScintilla
Telethon==1.19.0
aiofiles
aiohttp
anime_downloader
antispaminc
appdirs
apscheduler
aria2p
async_generator
asyncurban	  
beautifulsoup4
bitlyshortener
bs4
bwb==3.0.0
cairosvg
cfscrape
coffeehouse
colour	  
countryinfo
covid	 
cowpy
cryptg
cryptocompare
cryptosteganography
csvfaker		
deep_translator
deezer-python
dnspython
emoji
emoji-country-flag
emoji==0.6.0
eyed3
faker
flask
fontTools
fonttools		   
gTTS-token>=1.1.3
gTTS>=2.0.1
geopy
git+https://github.com/cher-nov/cryptg
git+https://github.com/gleitz/howdoi
gitpython
glitch_this
google
google-api-python-client==1.8.0
google-auth-oauthlib
google-trans-new
google_images_download>=2.8.0
google_trans_new
googletrans
grapheme
gsearch
hachoir
heroku3
howdoi
html-telegraph-poster
httplib2
humanize
iplookup
jikanpy
jotquote		
justwatch
keyboard	 
kwot	
langdetect
lottie
lxml
lyrics_extractor
lyricsgenius
mal-api
moviepy
nekos.py		
nospamplus
numpy
oauth2client
opencv-contrib-python
pandas
password_strength
patool
pdf2docx
pokedex.py
pornhub-api
prettytable
programmingquotes	  
psutil
psycopg2
psycopg2-binary
pyDownload
pySmartDL
pybase64>=0.4.0
pydub
pyfiglet
pygame	  
pygments		  
pyjokes
pylast
pymediainfo
pymongo
pyseoanalyzer
pyshorteners
pytesseract
python-barcode
python-dotenv
python-magic
pytube>=9.5.1
pytuneteller
pytz
qrcode
quote
regex
requests
requests_html
scapy
scipy
search-engine-parser>=0.4.2
selenium
spamwatch		 
speedtest-cli>=2.0.2
spotdl
spotify_token	  
sqlalchemy>=1.2
telegraph
telethon
textblob
the-python-bay
the_python_bay
tswift
urbandict>=0.5
validators
vcsi	
wand	
wget
wheel
wikipedia>=1.4.0
yahoo_fin
youtube-dl
youtube-search
youtube-search-python
youtube_search